$color-main: #0D1117; // background
$color-border: #30363D; // border
$color-navbar: #161B22; // block

$color-url: #58A6FF;
$color-font: #C9D1D9;
$color-icon-unactive: #484F58;
$color-icon-active: #8B949E;
$color-button-border: #373B42;
$color-line: #F78166;

$color-hover: rgba(37, 42, 48, 0.5);

$color-yellow: #F1E05A;
$color-orange: #E34C26;
$color-blue: #9aa7b8;
$color-green: #238636;
$color-green-border: #37914A;

$color-back: #1E222A;
$color-fiolet: #A97BFF; 

$color-code: #343942;